<!DOCTYPE html>
<html lang="en">
<head>
	<title>Maze Craze | Aaruush 20</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../static/images/logo.jpg"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='vendor/select2/select2.min.css')}}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css')}}" >
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}" >
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{{ url_for('static', filename = 'images/a20laptop.png') }}" alt="IMG">
				</div>

                <form class="login100-form validate-form" action="https://formspree.io/csicma20@gmail.com" method="POST" >
                    <div class="text-center p-t-12" id="upper">
                        <img style="width:90%;"  src="{{ url_for('static', filename = 'images/a20laptop.png') }}" alt="IMG"><br><br>
                        </div>
					<span class="login100-form-title">
						Congratulations! You have emerged as a conqueror 	&#128588; &#127881; .
					</span>
					
					<div class="text-justify p-t-12">
						<p>Next Steps,</p>
						<p>1) Share the contest along with your friends and let them know about the treasure hunt.</p>
						<p>2) Screenshot your achievement and tag us @aaruush_srm.(It's okay if you don't use instagram)</p><br>
                        <p style="color:green;">Stay home and keep following our instagram/facebook page while we home deliver your treasure!</p><br>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						
						<input class="input100" type="text" name="name" id="name" placeholder="Winner's Name">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>
                    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						
						<input class="input100" type="text" name="_replyto" id="s2" placeholder="Email Address">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope-open" aria-hidden="true"></i>
						</span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						
						<input class="input100" type="text" name="phone" id="s2" placeholder="Phone Number">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							<input type="submit" style="background-color: transparent;" value="Submit">
                        </button>
                        <br><br>

						<br><br> <p>Made with &#9829; by <a style="color:blue;" href="https://team-envision.github.io/" target="_blank" >Team Envision </a></p><br>
					</div>



<!-- 
					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="text" name="s2" placeholder="Enter Secret Code ">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Submit
						</button>
					</div> -->


					<!-- <div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#">
							Username / Password?
						</a>
					</div> -->

				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="../static/js/main.js"></script>	

</body>
</html>